body {
    font-family: Arial, sans-serif;
    background: #e9ad62;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: #79dce9;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 400px;
}

fieldset {
    border: 1px solid #0a0404;
    border-radius: 8px;
    padding: 20px;
}

h3 {
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 6px;
    font-weight: bold;
    color: #555;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.radio-group {
    display: flex;
    gap: 15px;
    margin-top: 5px;
}

.form-actions {
    text-align: center;
    margin-top: 15px;
}

button {
    padding: 10px 100px;
    border: none;
    border-radius: 6px;
    background: #28a745;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #218838;
}
